# Server
PORT=5000

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerceDB

# JWT
JWT_SECRET=your_jwt_secret_here

# Client URL
CLIENT_URL=http://localhost:5173

# Seed
SEED_DROP_EXISTING=true

# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@example.com
SMTP_PASS=your_smtp_app_password

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
